.sidebar-scroll::-webkit-scrollbar {
  width: 0;
  transition: width 0.2s;
}

.sidebar-scroll:hover::-webkit-scrollbar {
  width: 4px;
}

.sidebar-scroll::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 9999px;
}
